[Unit]
Description=Flatly Daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/flatly daemon
Restart=on-failure
RestartSec=3
User=flatly
Environment=PATH=%h/.local/bin:/usr/bin:/bin
Environment=FLATLY_CONFIG_DIR=%h/.config/flatly
WorkingDirectory=%h

[Install]
WantedBy=default.target
