[Unit]
Description=Flatly Daemon
After=network.target

[Service]
User=%I
Group=%I

ExecStart=/usr/local/bin/flatly daemon
WorkingDirectory=%h/.config/flatly
Environment=HOME=%h
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
